NEXT_PUBLIC_STREAM_API_KEY=
NEXT_PUBLIC_STREAM_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
DATABASE_URL=file:./prisma/data.db
NODE_ENV=development